

<br>
<br>
<app-root></app-root>
<h4 style="text-align: center;">Course content with Enrolled Course ID = {{enrolledCourseId}} </h4><br>
<div style="text-align: center;">
<button type="button"  class="btn btn-outline-primary btn-sm">Mark Course as complete</button><br><br>
<a style="text-align: center;" routerLink="/StudentOngoingCourses">Go to the Courses list</a>
</div>
<footer class="page-footer font-small blue">

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2019 Copyright:
          <a href="#">devWithRahul</a>
        </div>
        <!-- Copyright -->
      
      </footer>